.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr)

}
.header,
.footer{
  text-align: center;
  background-color: brown;
  overflow: auto;
  color: rgb(223, 213, 213);
  grid-column: 1 / -1;
}
main {
  grid-column: 4 / 10;
}
